{% extends 'base.html' %}


{% block title %}Add product{% endblock %}

{% block content_title %}
<u>Add product</u>
{% endblock %}

{% block content %}
  <form action="{{ url_for('products.add_product' )}}" method="post" enctype="multipart/form-data">
  Name:<br>
  <input type="text" name="name" required><br>
  Price:<br>
  <input type="number" name="price" min="1" step="0.01" required><br>
  Description:<br>
  <input type="text" name="description"><br>
  Image:<br>
  <input type="file" name="img_name"><br><br>
  <input type="submit" value="Add product">
  </form>
{% endblock %}
