{% extends 'base.html' %}
{% from 'macros.html' import disable_clicked %}


{% block title %} Products {% endblock %}

{% block content_title %} <a href="{{ url_for('products.get_all_products') }}"><u> Products </u></a> {% endblock %}

{% block content %}
<form action="{{ url_for('products.get_all_products') }}" method="get">
  Filter by price:
  <input type="text" name="price">
  <input type="submit" value="Find">
</form>

<form action="{{ url_for('products.get_all_products') }}" method="get">
  Filter by id:
  <input type="text" name="id">
  <input type="submit" value="Find">
</form>

<p><a href="{{ url_for('products.show_add_product_form') }}">Add product</a></p>

<table>
  <tr>
    <th style="width: 30%; background: #ffcc00;">Product name</th>
    <th style="width: 30%; background: #ddcc00;">Price</th>
    <th style="width: 70%; background: #ffcc00;">id</th>
  </tr>

    {% if args %}
        {% if 'price' in args %}
            {% set arg = 'price' %}
            {% endif %}
        {% if 'id' in args %}
            {% set arg = 'id'%}
            {% endif %}
            <p>Filtered by {{ arg }} = {{ args[arg] }}</p>
        {% for product in products_all|selectattr(arg, 'eq', args[arg]) %}
    <tr>
        <td><a href="{{ url_for('products.show_product', uu_id=product['id']) }}" >{{ product['name'] }}</a></td>
        <td>{{ product['price'] }}</td>
        <td>{{ product['id'] }}</td>
    </tr>
        {% endfor %}
    {% else %}
        <p>Not filtered</p>
        {# in case we have no argumensts #}
        {% for product in products_all %}
    <tr>
        <td><a href="{{ url_for('products.show_product', uu_id=product['id']) }}">{{ product['name'] }}</a></td>
        <td>{{ product['price'] }}</td>
        <td>{{ product['id'] }}</td>
    </tr>
        {% endfor %}
    {% endif %}

</table>
{% endblock %}